body {
    margin: 0px;
    padding: 0px;
}


#header-image img{
    object-fit: cover;
    height: 150px;
    width: 100%;
    margin: auto;
    margin-top: 0%;
}

#image-text{
    position: absolute;
    top: 5%;
    left: 10%;
    font-family: 'Roboto';
    color: rgb(254, 254, 254);
    transform: translate(-30%, -30%);
    text-align: center;
}